a {
  text-decoration: none;
}

ul {
  margin: 4px;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.navbar li {
  list-style: none;
}

.navmenu a {
  color: #000;
}

.navlists {
  display: flex;
  margin-right:   13px;
}

.navlists a{
  color: #000;
  text-align: center;
  padding: 2px;
  border-right:1px solid #000;
}

.navlists a:hover {
  color: blue;
}

.navlists li {
  margin-right: 5%;
}

#form-container {
  display: flex;
  margin-top: 12px;
  width: 30%;
  gap: 10px;
  flex-direction: column;
}

.books {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 10px;
  border-bottom: 1px solid silver;
}

.form-input {
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  width: 20%;
  font-size: 12px;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}

.heading {
  text-align: start;
}

button {
  width: 10%;
}

#myBooks {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: 1px solid #000;
  padding: 3px;
}

#author-name {
  font-size: 18px;
  align-self: center;
}

.remove-btn {
  width: 10%;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  font-size: 12px;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}

.contact-title {
  text-align: center;
}

.contact-info {
  text-align: center;
}

.contact-list li {
  margin-left: 40%;
}

.footer_link {
  list-style: none;
  border: 1px solid;
  margin-top: 10%;
  padding: 3px;
}

