#form-container {
  display: flex;
  margin-top: 12px;
  width: 30%;
  gap: 10px;
  flex-direction: column;
}

.books {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 10px;
  border-bottom: 1px solid silver;
}

.form-input {
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  width: 20%;
  font-size: 12px;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}

.heading {
  text-align: start;
}

button {
  width: 10%;
}

#myBooks {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: 1px solid #000;
  padding: 5px;
}

#author-name {
  font-size: 18px;
  align-self: center;
}

.remove-btn {
  width: 10%;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  font-size: 12px;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}
